#quick-settings {
  height: 6rem;
  pointer-events: none;
}

#quick-settings > ul {
  padding: 0 1.5rem;
  margin: 0;
  list-style: none;
}

#quick-settings li {
  float: left;
  width: 20%;
  padding: 0;
  margin: 0;
}

#quick-settings li.quick-settings-long-button {
  width: 100%;
  height: 5rem;
  vertical-align: middle;
  text-align: center;
  height: 4.5rem;
  padding-top: 0.4rem;
}

#quick-settings.non-mobile li {
  width: 25%;
}

#quick-settings a {
  display: block;
  height: 5rem;
  width: 100%;
  padding: 1.5rem 0;
  margin: 0;
  color: #e7e7e7;
  text-align: center;
  text-decoration: none;
  outline: none;
  background: none;
  pointer-events: auto;
}

#quick-settings li.quick-settings-long-button a {
  display: inline-block;
  height: 3.2rem;
  line-height: 1rem;
  min-width: 50%;
  float: none;
  clear: both;
  padding: 0rem 0px;
  vertical-align: middle;
  position: relative;
  top: 0.6rem;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.07);
  height: 3rem;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05) inset;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

#quick-settings a:before {
  line-height: 3.2rem;
}

#quick-settings li.quick-settings-long-button a:before {
  line-height: 3.4rem;
  font-size: 2.4rem;
  opacity: 0.5;
  position: relative;
  top: 0.2rem;
  left: -0.7rem;
}

#quick-settings > *[data-initializing] {
  opacity: 0.5;
}

#quick-settings-orientation-lock[data-enabled="true"] {
  color: #008eab;
}

#quick-settings-wifi[data-enabled] {
  color: #008eab;
}

.non-mobile #quick-settings-data {
  display: none;
}

#quick-settings-data[data-enabled] {
  color: #008eab;
}

#quick-settings-bluetooth[data-enabled] {
  color: #008eab;
}

#quick-settings-airplane-mode[data-enabled] {
  color: #008eab;
}

#quick-settings-airplane-mode[data-enabling] {
  color: #008eab;
  opacity: 0.5;
}

#quick-settings-full-app:active:before {
  color: #008eab;
}

.quick-settings-airplane-mode {
  opacity: 0.5;
}
